.habitForm_form {
  flex: 1;
  margin-bottom: 1rem;
}

.habitForm__input {
  flex: 1 1 auto;
  margin-right: $spacer;
}

@include media-breakpoint-down(xs) {
  .habitForm__input {
    margin-bottom: $spacer * .5;
    margin-right: 0;
  }

  .habitForm__button {
    width: 100%;
  }
}
