.detailsPage__habitFormCol {
  display: flex;
  flex-wrap: wrap;

  .habitForm_form {
    margin: 0 1rem 0 0;
    min-width: 300px;
  }
}

@include media-breakpoint-down(xs) {
  .deleteHabitButton__button {
    width: 100%;
  }

  .habitForm_form {
    margin: 0 0 0.5rem 0 !important;
  }
}